<!-- Start Footer.html -->


<footer>
          <div id="foot_1">
            <h3>Contact Me</h3>
            <br>
            <h4><a href="mailto:jrusso@ruselidesign.com">jrusso@ruselidesign.com</a></h4>
            <br>
            <p><?php
              date_default_timezone_set('America/Detroit'); print date('g:i a l F j');?></p>
          </div>
          <div id="foot_2">
            <h3>Connect</h3>
            <a href="https://github.com/Jrusso8199" class="fa fa fa-github-alt"></a>
            <a href="https://www.linkedin.com/in/jason-russo-500a89b1/" class="fa fa-linkedin"></a>
          </div>
          <div id="foot_3">
            <img src="img/RDLogo2.png" class="icon">
          </div>
      </footer>
      
      </body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </html>
      
      <!-- End Footer -->