<main class="two_column_right">
    <section id="soft_skills">
        <h2>Soft Skills</h2>
        <br>
        <ul>
            <li>Team Collaboration</li>
            <li>Effective Communication</li>
            <li>Passionate for learning and tech</li>
            <li>Detail Oriented</li>
            <li>Client focus</li>
            <li>Helpful</li>
        </ul>
    </section>
    <section class="smaller_width" id="info_side">
        <div id="professional_profile">
            <h2>Professional Profile</h2>
            <p>With an outgoing personality and a passion for learning I am currently seeking
                a developer position allowing me to grow as I change career focus to Web Development.
            </p>
        </div>
        <div id="tech_skills">
            <ul id="skills_1">
                <li>PHP</li>
                <li>MySQL</li>
                <li>HTML, CSS, JavaScript</li>
                <li>Project Management (SDLC, AGile)</li>
                <li>ASP.NET MVC5</li>
                <li>LAMP</li>
            </ul>
            <ul id="skills_2">
                <li>Version Control</li>
                <li>WordPress</li>
                <li>Requirements Analysis</li>
                <li>Prototype | Testing</li>
                <li>Network Infrastructure</li>
            </ul>
        </div>
        <div id="relevant_experience">
            <div>
                <h3>Greater Grand Rapids Womans History Council <a href="www.ggrwhc.org">www.ggrwhc.org</a></h3>
                <ul>
                    <li>As part of development team I was responsible for PHP development and plugin integration.</li>
                    <li>My secondary responsibility was Quality Assurance. I worked with the client and development team to ensure all internal and external functions worked and provided a good user experience.</li>
                    <li>Being a part of this team allowed me to gain knowledge in the development life cycle.</li>
                </ul>
            </div>            
        </div>
        <div id="other_experience">
            <h2>Other Experience</h2>
            <div>
                <h3>Ruseli Design - 2015-Present</h3>
                <ul>
                    <li><strong>Owner / Developer</strong></li>
                    <li>Deployed Ubuntu 18.04 with a LAMP stack</li>
                    <li>Configured with Virtualmin / Webmin hosting platform</li>
                    <li>Created an easy to use and configure environment for clients to deploy static sites or easy installation of up to date versions of WordPress, Django, or Drupal content management systems.</li>
                </ul>
            </div>
            
            <div>
                <h3>Constructive Sheet Metal <a href="www.csm-gr.com">www.csm-gr.com</a> - 2017 - 2019</h3>
                    <ul>
                        <li><strong>Site Layout</strong> - Created the sites wireframe, theme colors, and branding.</li>
                        <li>Ensured the site had a good mobile first experience.</li>
                        <li>Worked closely with the client and developers to ensure satisfaction of the product.</li>
                    </ul>
            </div>

            <div>
                <h3>Code for Good <a href="https://codeforgoodwm.org/">https://codeforgoodwm.org/</a> 2016 - Present</h3>
                <p>Code for Good is "a volunteer-run collective of technology professionals in Grand Rapids, Michigan, dedicated to creating tech solutions for non-profit agencies." My role as a developer working with a team to create or update non-profits web presence focusing on their website. It is a fun experience because every aspect is done in a 52 hour sprint, start to finish.</p>
            </div>
        
        </div>
        <div id="education">
            <h2>Education</h2>
            <br>
            <h3>AAS - Information Technology - 2018</h3>
            <ul>
                <li>Baker College</li>
                <li>Flint, MI</li>
            </ul>

        </div>
    </section>
</main>